<h1>Rules of the game</h1>
<h2>What are the rules of Rock-Paper-Scissors?</h2>
<p>Although the game has a lot of complexity to it, the rules to play it are pretty simple.<br><br>The game is played where players deliver hand signals that will represent the elements of the game; rock, paper and scissors. The outcome of the game is determined by 3 simple rules:</p>
<li>Rock wins against scissors.</li>
<li>Scissors win against paper.</li>
<li>Paper wins against rock.</li>
